.color-1 {
  background-color: #f4eeff;
}

.color-2 {
  background-color: #dcd6f7;
}

.color-3 {
  background-color: #a6b1e1;
}

.color-4 {
  background-color: #424874;
}

.text-center {
  text-align: center;
}

.user-view {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-view .background {
  height: 100%;
}

.title {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.match {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.match .club {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.club .image {
  margin: 0 10px;
}
